# Data & indexes
data/processed/
data/indexes/
data/raw/
database/engine_sounds.db

# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.pytest_cache/

# IDE
.vscode/


# Node
node_modules/
.next/
frontend/.env.local

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

qdrant_storage/

